<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find ur_robot_description)/models/include/arm.xacro"/>
  <xacro:include filename="$(find ur_robot_description)/models/include/conveyor.xacro"/>
  <xacro:include filename="$(find ur_robot_description)/models/include/tool.xacro"/>

  <xacro:macro name="robot_macro" params="mode ur_type robot_ip simulation_controllers">
    
    <link name="unit"/>

    <xacro:conveyor_macro
      height="0.5"
      parent="unit"
    />

    <xacro:arm_macro
      mode="${mode}"
      ur_type="${ur_type}"
      parent="unit"
      robot_ip="${robot_ip}"
      simulation_controllers="${simulation_controllers}"
    />

    <xacro:tool_macro
      mode="${mode}"
      parent="tool0"
    />

  </xacro:macro>

</robot>