<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robot">

  <xacro:include filename="$(find ur_robot_description)/models/core.xacro"/>

  <!-- parameters -->

  <!-- possible 'mode' values: gz, hw -->
  <xacro:arg name="mode" default=""/>

  <!-- possible 'ur_type' values: ur3, ur5, ur10, ur3e, ur5e, ur7e, ur10e, ur12e, ur16e, ur8long, ur15, ur18, ur20, ur30 -->
  <xacro:arg name="ur_type" default="urX"/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="simulation_controllers" default=""/>

  <xacro:robot_macro
    mode="$(arg mode)"
    ur_type="$(arg ur_type)"
    robot_ip="$(arg robot_ip)"
    simulation_controllers="$(arg simulation_controllers)"
  />

</robot>